/* Write your CSS code here */
.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-heading {
  color: #12022f;
  font-size: 20px;
}
.designation {
  color: #616e7c;
  color: 20px;
}
